
@{
    ViewData["Title"] = "FormDataTest";
}
<style>
    .forFlow ul li {
        display: inline-block;
        background-color: #99CCFF;
        font-size: 20px;
        line-height: 30px;
        width: 100%;
    }
</style>
<h2>使用formData 上传文件</h2>
<form enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <p>选择文件</p>
            <input type="file" id="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" onclick="ajaxupload()" value="ajax上传" />
            <input type="button" onclick="formdataupload()" value="formdata对象上 传" />
            <input type="button" onclick="uploadfile()" value="上 传" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
           <p id="progress"  class="text-center"  style="display:inline-block;line-height:20px;background-color:aqua;color:#000000;"><span style="float:left;margin-left:300px;" id="scjd"></span></p>
        </div>
    </div>
</form>

<script>
    function ajaxupload() {
        var form = new FormData(document.querySelector("form"));
        $.ajax({
            url: "@Url.Action("UploadFile")",
            type: "POST",
            data: form,
            processData: false,  // 不处理数据
            contentType: false,   // jQuery不要去设置Content-Type请求头
            success: function (data) {
                layer.msg("操作成功",{ time: 1000 }, function () {
                    window.location.href = "@Url.Action("list")";
                });
            }
        }).fail(function () {
            layer.msg("操作失败");
        });
    }
</script>

<script>
    function formdataupload() {
        var progress = document.getElementById("progress");
        var formdata = new FormData(document.querySelector("form"));
        var requst = new XMLHttpRequest();
        requst.open("post", "@Url.Action("UploadFile")");
       
        //上传进度
        requst.upload.onprogress = function (ev) {
            var percent = parseInt((ev.loaded / ev.total) * 100) + '%';
           
            console.log(percent);

            progress.style.width = percent;
            $("#scjd").text(percent);
        };
        requst.send(formdata);
        //
        @*requst.onreadystatechange = function () {
            if (requst.readyState == 4 && requst.status == 200) {
                layer.msg("操作成功",{ time: 1000 }, function () {
                    window.location.href = "@Url.Action("list")";
                });
            }
        };*@
    }
</script>